@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}


body {
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(60deg, #7137e4 50%, #8B13DF ) ;
}



/*header beginning*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 2;
    top: 0;
    transition: .3s;
}
header.active{
    height: 9vh;
background: rgba(139, 19, 223, 0.22);
border: 1px solid #8B13DF;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
}


header.active a {
    color: rgba(255, 255, 255, 0.849);
    text-shadow: 1px 1px black;
}


.logo_container img {
    display: none;
    width: 50px;
    border-radius: 50%;
   
  
}

.navigation_options {
    margin-right: 15px;
    
}

.navigation_options a {
    color: rgba(255, 255, 255, 0.637);
    margin-right: 35px;
    transition: 0.3s;
}

.navigation_options a:hover {
    color: white;
}



/*responsivity*/
.mobile_Menu {
    cursor: pointer;
    display: none;
    z-index: 2;
    background-color: #8B13DF;
    border-radius: 5px;
}

#section0 {
    transform: translateY(-140px);
    display: none;
}

.mobile_Menu div {
    width: 32px;
    height: 2px;
    background: #f0ebe7;
    margin: 8px;
    transition: 0.2s;
}



/*responsivity*/

/*header ending*/












/*main/form beginning*/
main {
    width: 100%;
    height: 70vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;

}

.container_whatsApp {
    width: 96%;
    height: 99%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.botao_WhatsApp {
    margin-top: 93vh;
    position: fixed;
    z-index: 2;
}


.botao_WhatsApp img{
    position: fixed;
    width: 50px;
    border: none;
    color: white;
    transition: .4s;
}

.botao_WhatsApp img:hover {
    transform: scale(1.3);
}

#titleGD {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
margin-bottom: 20px;
}

#titleGD::after {
    content: "|";
    animation: blink .5s step-end infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.main_content {
    width: 60%;
    text-align: center;
    color: white;


}

.main_content img {
    margin-top: 100px;
    width: 200px;
    border-radius: 30%;
    

}

.main_content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
   
}

.main_content p {
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px black;
}

.main_content h2 {
    padding: 10px;
    background: linear-gradient(45deg, #0b113a1a, #8B13DF, #0b113a17);
    font-size: 20px;
    text-shadow: 2px 2px black;
    margin: 5px 0 50px;
}


form{
    width: 500px;
    height: 713px;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.56);
-moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.56);
box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.56);
}
form h3{
    margin: 30px 0 30px 0;
    width: 85%;
}
.inputs_text{
    width: 85%;
    padding: 10px 0 10px 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 25px;
}

.button_form_send {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #8B13DF;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #8B13DF;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #8B13DF;
  }
  
  .button_form_send:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #8B13DF;
  }
  
  .button_form_send:active {
    transform: scale(0.9);
  }

  form p{
    font-size: 12px;
  }

/*main/form ending*/






/*info beginning*/



.infos_section {
    overflow: hidden;
    width: 100%;
    height: 600px;
    margin-top: -6px;
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    perspective: 1000px;
    height: 28vh;
    width: 90%;
    margin: 3em auto;
    cursor: pointer;

}

.card {
    margin-top: 2em;
    transform-style: preserve-3d;
    height: 100%;
    width: 80%;
    transition: .9s ease;
    min-height: 100px;
}

.front,
.back {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
}

.front {
    background:linear-gradient(180deg, #6406a7, #874aaf );
}

.front img {
    width: 5em;
}

.content {
    transform: translateZ(60px);
}

.content h3,
h2 {
    font-size: 15px;
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 0.04em;
}

.content p {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0.02em;
    padding: 0 3em;
}

.back {
    background-color: #7137E4;
    transform: rotateX(180deg);
}

.container:hover .card {
    transform: rotateX(180deg);
}

/*info ending*/





/*importancia do serviço*/
.importancia {
    background-color: #6406a7;
    width: 100%;
    height: 780px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_imp {
    text-align: start;
    width: 40vw;
    color: white;
    margin-left: 15vw;
}

.text_imp h1 {
    font-size: 30px;
    margin: 20vh 0 2vh;
    color: #7BE0AD;

}

.text_imp p {
    font-size: 22px;
    margin-bottom: 2vh;
}

.img_imp {
    width: 500px;
    margin-top: 40px;

}

.img_imp img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(60px 12px 18px #00000091);
    animation: anime 2s infinite ease-in-out alternate;
    -webkit-animation: anime 2s infinite ease-in-out alternate;

}

@keyframes anime {
    100% {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        filter: drop-shadow(40px 12px 18px #000000c5);
    }
}

/*importancia do serviço*/


/*prom beginning*/
.prom {
    background: #f7f7f7;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.prom_shape_container{
    margin-top: 50px;
}
.prom_row{
    margin-left: 100px;
    display: flex;
    flex-direction:row-reverse;
}
.img_prom{
    align-self: center;
    justify-self: flex-end;
}
.img_prom img{
    
    width: 35vw;
}

.prom h3 {
    font-size: 1.3em;
    color: #37db89;
}

.prom p {
    color: #7a7a7a;
}

.prom_shape {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#prom1 {
    text-align: center;
    width: 350px;
    height: 300px;
    padding: 3em;
    margin: 40px;
    border-radius:50px;
    background: #e7e7e7;
}

#prom1 img {
    width: 70px;
}
.button_prom_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prom_button_top {
    
    position: relative;
    display: inline-block;
    padding: 20px 200px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #8B13DF;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #8B13DF;
  }
  
  .prom_button_top:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #8B13DF;
  }
  
  .prom_button_top:active {
    transform: scale(0.9);
  }
   
/*prom endin
/*footer*/


footer {
    width: 100%;
    height: 30vh;
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7a7a7a;
}

.social_media {
    width: 100%;
    padding: .5em;
}

.social_media i {
    font-size: 23px;
    color: #7a7a7a;
}

.social_media i:hover {
    color: #cc2366
}

.footer_text a {

    color: #7a7a7a;
    text-decoration: underline;
}



































@media(max-width: 1450px),
(max-height: 900px) {
    
    .container_whatsApp {
        width: 95%;
        height: 99%;
    }
    
    .botao_WhatsApp {
        margin-top: 91vh;
     
    }

    .content h2 {
        font-size: 10px;
    }


    .p2 p {
        font-size: 12px;
    }

    .bigger p {
        font-size: 11px;
    }

    .importancia {
        height: 65vh;
    }

    .text_imp p {
        font-size: 20px;
        color: #e7e7e7;
    }

    .img_imp {
        width: 400px;
      
    margin: 0;
    }
    .text_imp h1{
        margin: 50px 0 10px 0;
    }

    footer {
        height: 50vh;
    }
}






@media(max-width:1280px),
(max-height: 720px) {

    header {
        height: 7vh;
        
    }

    .logo_container img {
        width: 60px;
    }

    header.active {
        height: 6vh;
        
    }

    header.active a {
        color: white;
    }

    .container_nav {
        position: absolute;
        right: 0;
        width: 0%;
        color: white;
        height: 0vh;
        transform: translate(0%, 55%);
        opacity: 0;
        transition: .3s ease-in-out;
        border-radius: 5px;
    }

   .container_nav.active {
background: rgba(139, 19, 223, 0.69);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.5px);
-webkit-backdrop-filter: blur(9.5px);
border: 1px solid rgba(139, 19, 223, 0.06);
        display: flex;
        transform: translateY(55%);
        width: 100%;
        height: 100vh;
        opacity: 1;
 
    }

    .prom_shape_container{
        width: 90%;
        font-size: 13px;
    }
    
    #prom1 p{
font-size: 12px;
    }
    .prom_shape h3{
    font-size: 15px;
}

.prom_button_top{
    padding: 15px 150px;
    font-size: 15px;
}
 
    .navigation_options {
        width: 100%;
        height: 80%;
        top: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navigation_options a {
        
        margin: auto;
        opacity: 0;
        color: white;
        padding: 5vh;
        width: 90%;
       
    }

    .navigation_options a:hover {
        color: grey;
        
    }


    .logo_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo_container img {
        margin-left: 35%;

    }

    .mobile_Menu {
        display: block;
        margin-left: auto;
    }

    .mobile_Menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile_Menu.active .line2 {
        opacity: 0;
    }

    .mobile_Menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }



    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

main{
    height: 550px;
}
    form{
        width: 400px;
        margin-top: 50px;
        max-height: 550px;
    }

    .main_content h1 {
        font-size: 25px;
    }


    .importancia {
        height: 550px;
        align-items: center;
      

    }

    
    .content h3 {
        font-size: 13px;
    }

    .content h2 {
        font-size: 13px;
    }

    .card {
        width: 100%;
    }

    .container {
        margin-bottom: 10px;
    
    }


    .prom {
        height: 840px;
    }


    #prom1 {
        margin: 10px;
    }

    .text_imp h1 {
        font-size: 25px;
        color: #7BE0AD;
   margin-left: auto;
  

    }
.text_imp{
    width:100vw;
    margin-left: 13vw;
}
    .text_imp p {
        font-size: 18px;
        margin-bottom: 2vh;
    }

    .img_imp {
        width: 600px;
       
    }

}












@media(max-width:1366px),
(max-height: 768px) {
    #prom1 {
        border-radius: 12px;
        font-size: 14px;
        width: 280px;
        height: 280px;
       
    }
    .prom {
        height: 850px;
    }
    .infos_section {
        height: 700px;
    }
    .img_prom{
        justify-self: flex-start;
    }


}

@media(max-width:1280px),
(max-height: 800px) {
    .infos_section {
        height: 500px;
    }

    .importancia {
        height: 600px;
    }

   





}
@media screen and (max-height: 860px){
    form{
        height: 600px;
    }
}

@media screen and (max-width: 991px) {

    .container_whatsApp {
        width: 93%;
        height: 99%;
    }
    .botao_WhatsApp {
        margin-top: 88vh;
    }


    footer {
        height: 200px;
        justify-content: flex-end;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    header.active {
        height: 50px;

    }

    main {
        flex-direction: column;
        height: 1200px;
    }

    form{
        margin: auto;
        width: 80%;
    }

    .infos_section {
        height: 1300px;
        padding-bottom: 200px;
        flex-wrap: wrap;
    }

   
   
    

    .main_content {
        width: 100%;
    }

    .p2 p {
        font-size: 12px;
    }

    .bigger p {
        font-size: 11px;
    }

    .importancia {
        height: 90vh;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

    }



    .text_imp h1 {
        font-size: 25px;
        margin: 7vh 0 2vh;
        color: #7BE0AD;

    }

    .text_imp p {
        font-size: 17px;

    }

    .img_imp {
        width: 300px;
       margin: 70px 0 0px 0;
      
    }

    .text_imp {
        width: 80%;
        margin: -80px 0 100px 0;
       
    }

    .prom_row{
        display:flex;
        margin: 0;
       justify-content: center;
       align-items: center;
    }
 .img_prom{
    display: none;
 }
    .prom {
        height: 1300px;
    }

    #prom1 {
        width: 90%;
        margin: 5px auto;
    }
#prom1 h3{
    font-size: 18px;
}
    #prom1 p{
        font-size: 15px;
    }

    .prom_shape {
        flex-direction: column;
    }
}


@media(max-width:800px),
(max-height: 600px) {

    .img_imp {
   margin: 0;
width: 220px;
transform: translateY(-60px);
    }

    .text_imp {
        width: 80%;
    }

    .importancia {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 500px;
        background:linear-gradient(180deg, #6406a7, #513c5f )
    }


    .main_content h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .main_content p {
        font-size: 15px;
        margin-bottom: 30px;
        text-shadow: 2px 2px black;
    }

    .main_content h2 {
        padding: 10px;
        background: linear-gradient(45deg, #0b113a1a, #6b04b4, #0b113a17);
        font-size: 15px;
        text-shadow: 2px 2px black;
        margin: 5px 0 50px;
    }

    .text_imp h1 {
        font-size: 22px;
        color: #7BE0AD;

    }

    .text_imp p {
        font-size: 1em;
        margin-bottom: 1vh;
    }



}


@media(max-width:848px),
(max-height: 480px) {
    .button_form_send{
        margin-bottom: 0;
    }
    form p{
        margin-bottom: 5px;
    }
    main {
        height: 930px;
    }

    .content h3 {
        font-size: 12px;
    }

    .content h2 {
        font-size: 10px;
    }

}

@media(max-width:364px) and
(max-height: 800px) {
    .prom {
        height: 1600px;
    }
    form{
        font-size: 14px;
        margin-top: 0;
       
    }
    .button_form_send{
padding: 15px 15px;
    }
}

@media(max-width:400px) and
(max-height: 640px) {
    .prom {
        height: 1300px;
    }

    footer {
        font-size: 13px;
    }


}
@media(max-width:581px){
main{
    height: 1000px;
}
}

@media(max-width: 665px){
.prom_button_top{
    width: 80%;
    padding: 20px 0;
    ;
}

.container_whatsApp {
    width: 90%;
}

}

@media(max-width:480px) and
(max-height: 500px) {
    .prom {
        height: 1400px;
    }

    .container_whatsApp {
        width: 87%;
    }


    .botao_WhatsApp img{
        width: 40px;
    }
}

@media(max-width:320px) {
  

    .text_imp p {
        font-size: 15px;
    }
}



@media(max-width:394px),
(max-height: 496px) {

 
    .botao_WhatsApp {
        margin-top: 85vh;
    }
    .prom h1 {
        margin-bottom: 20px;
    }

    .content h3 {
        font-size: 12px;
    }

    .content h2 {
        font-size: 10px;
    }

    .content img {
        width: 50px;
    }
}


@media(max-width:525px){
    .text_imp p {
        font-size: 13px;
    }
}

@media(max-width:480px),
(max-height: 368px) {

    .content img {
        width: 50px;
    }

}


@media(max-width:260px) {
    form{
        min-height: 520px;
    }

    .prom {
        height: 1900px;
    }

    
    .text_imp p {
        font-size: 13px;
    }

    .prom h1 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    #textTPO {
        font-size: 11px;
    }
}

@media(max-width:256px)and
(max-height: 512px) {
    main {
        height: 950px;
    }

    form {
        width: 90%;
        height: 450px;
        margin-top: 0;
    }

    form p {
        font-size: 15px;
    }

 
}



@media(max-width:245px) {
        
    .prom {
        height: 2000px;
    }

    .prom h1 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .button_prom {
        width: 100%;
    }
}


@media(max-width:320px),
(max-height: 480px) {
    main {
        height: 1000px;
    }

    .prom {
        height: 1400px;
    }

    .content p{
        font-size: 10px;
    }
}

@media (max-width:444px){
    .prom h1{
        font-size: 25px;
    }
}


@media (max-width:272px),
 (max-height: 480px) {
.text_imp h1{
font-size: 15px;
}
.prom{
    height: 1500px;
}
}


@media (max-width:365px)and
 (max-height: 480px){
    .prom{
        height: 1300px;
    }
 }

 @media (max-width:295px) and
 (max-height: 544px){

.text_imp{
    width: 100%;
}
.prom{
    height: 1300px;
}
 }



@media (max-width:213px){
.prom{
    height: 2300px;
}
.text_imp p{
    font-size: 10px;
}
.prom p{
    width: 100%;
}
#prom1{
    width:95%;
}

.content p {
    font-size: 10px;
}
}

@media screen and (max-width: 387px){
    .prom{
        height: 1250px;
        padding-bottom: 50px;
    }
.prom h1{
    font-size: 18px;
}

#prom1 h3{
font-size: 15px;
}
#prom1 p{
    font-size: 12px;
    }

   .button_form_send{
    padding: 10px 10px;
    font-size: 15px ;
   }
}



@media screen and (max-width: 266px){
    .prom{
        height: 1200px;
    }
    .content p{
        font-size: 8px;
    }
    .importancia p{
        font-size: 13px;
    }
#prom1{
    width: 100%;
}
    #prom1 h3{
        font-size: 12px;
    }
.img_imp{
    width: 180px;
}
    .button_prom {
        font-size: 10px;
    }

}
@media screen and (max-width: 276px){
.prom{
    height: 1400px;
}
.button_form_send{
    font-size: 10px;
}
}

@media screen and (max-width: 227px){
.prom{
    height: 1500px;
}

.prom h1{
    font-size: 12px;
}
}

@media screen and (max-width: 203px){
    .prom{
        height: 1600px;
    }
}

@media screen and (max-width: 189px){
    .prom{
        height: 1700px;
    }

    .importancia p{
        font-size: 11px;
    }

}


@media screen and (max-width: 181px){
    .prom{
        height: 1800px;
    }
}





@media (max-width:960px) and (max-height: 544px) {
    .infos_section {
        height: 980px;
    }

    .importancia {
        height: 490px;
    }
}

@media screen and (max-width: 315px){
    .prom {
        height: 1400px;
        padding-bottom:200px;
        padding-top: 100px;
    }

.img_imp{
    transform: translateY(-20px);
}
.text_imp{
    width: 100%;
}

@keyframes anime {
    100% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        filter: drop-shadow(40px 12px 18px #000000c5);
    }
}
    .importancia{
        padding-bottom: 100px;
    }

}

@media screen and (max-width: 290px){
.prom{
    height: 1400px;
}

}


@media screen and (max-width: 239px){
    .importancia{
       padding: 100px 0 100px 0 ;
    }

    .text_imp p{
font-size: 12px;
    }

    .text_imp{
        width: 90%;

    }
    .img_imp{
        transform: translateY(0);
        width: 70vw;
        margin: 0 auto 30px auto;
    
    }

    .infos_section{
        padding-top: 100px;
       height: 1200px;
    }
    form{
      height: 700px;
    }
    .button_form_send{
        margin: 0;
    }
}

@media screen and (max-width: 220px){
    .container_whatsApp {
        width: 80%;
        height: 99%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column-reverse;
    }
    
    .botao_WhatsApp {
        position: fixed;
        z-index: 2;
    }
    #prom1 p{
font-size: 9px;
    }
    
}

@media screen and (min-width: 992px) {


    .container {
        flex-basis: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1.5em;
    }
}





/*mobile responsivity*/





/*mobile responsivity*/